.posts_scene {
  &_wrapper {
    display: flex;
    justify-content: flex-start;
    aside {
      flex-basis: 10%;
      flex-shrink: 0;
    }
    main {
      flex-grow: 1;
    }
  }
  &_nav_link {
    display: block;
    padding: 15px;
    font-size: 14px;
    text-decoration: underline;

    &__active {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
