@font-face {
  font-family: 'PTSans';
  src: url('../fonts/pt-sans/pt-sans-regular.woff2') format('woff2'),
  url('../fonts/pt-sans/pt-sans-regular.woff') format('woff'),
  url('../fonts/pt-sans/pt-sans-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/pt-sans/pt-sans-700.woff2') format('woff2'),
  url('../fonts/pt-sans/pt-sans-700.woff') format('woff'),
  url('../fonts/pt-sans/pt-sans-700.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
