$adminPrimaryBlueColor: #4254F9;
$adminSidebarWidth: 240px;
$adminPrimaryTextColor: #595E8D;
$adminComponentsShadow: 0 5px 20px rgba(22, 33, 133, 0.05);
$adminListItemsPadding: 22px;
$adminTextColor: #595E8D;
$adminTitleSecondaryColor: #4a6507;
